body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brands {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.f-info {
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  align-items: center;
  height: 8rem;
  flex-wrap: wrap;
  text-align: center;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}
.edit-btn:hover {
  opacity: 0.8 !important;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

.edit-show-btn {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  border: none !important;
}

.dlt-btn {
  background-color: #fe424d !important;
  border: none !important;
}
.dlt-btn:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .filters {
    display: block;
    align-items: center;
    justify-content: center;
  }
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;  
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.filter-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

@media (max-width: 768px) {
  .filter-container {
    scroll-snap-type: x mandatory;
  }
  
  .filter {
    scroll-snap-align: start;
  }
}

.filter {
  margin: 2rem 2.5rem 2rem 0;
  text-align: center;
  opacity: 60%;
}

.filter i {
  font-size: 1.25rem;
}

.filter:hover {
  opacity: 100%;
  cursor: pointer;
}

/* .tax-info {
  display: none;
} */

.taxToggle {
  margin-left: auto;
  align-self: center;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  height: min-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-search {
  background-color: #fe424d !important;
  color: white !important;
  border-radius: 25px !important;
}

.btn-search:hover {
  background-color: #fe424d !important;
  color: white !important;
}

.btn-search i {
  display: inline;
  margin-right: 0.5rem;
}

.input-search {
  border-radius: 25px !important;
  /* padding: 0 3rem !important; */
}
